@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
:root {
   --first-color: #222831;
   --secont-color: #393E46;
   --third-color: #FD7013;
   --fourth-color: #EEEEEE;
   font-family: 'Indie Flower', cursive;
   font-size: 25px;
   color: var(--first-color);
   background-color: #EEE;
}
body {
   margin: 0;
}
h1 {
   margin: 0;
   font-size: 3em;
   color: var(--fourth-color);
   text-align: center;
}
h2 {
<<<<<<< HEAD
   margin: 0;
=======
>>>>>>> 068064c4023067cd1f21d9d0151dfb0ce767f024
   text-transform: uppercase;
}
a {
   color: var(--third-color);
}
.header {
   padding: 10px 0;
<<<<<<< HEAD
   background-color: var(--third-color);
   margin-bottom: 1em;
}
.resume {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: flex-start;
   max-width: 1024px;
   min-width: 500px;
   margin: 0 auto;
}
.photo {
   position: relative;
   display: block;
   width: 40%;
   order: 2;
}
.contacts {
   width: 50%;
   order: 1;
}
=======
   background-color: var(--third-color);  
}
.resume {
   max-width: 1024px;
   margin: 0 auto;
}
>>>>>>> 068064c4023067cd1f21d9d0151dfb0ce767f024
.contacts ul,
.summary ul,
.education ul {
   list-style: none;
}
.contacts li,
.summary li,
.education li {
   position: relative;
}
.contacts li::before,
.summary li::before,
.education li::before
 {
   content: '';
   position: absolute;
   top: 7px;
   left: -30px;
   display: block;
   width: 20px;
   height: 20px;
   background-size: cover;
}
.contact_address::before {
   background-image: url(./images/icons/address.svg);
}
.contact_email::before {
   background-image: url(./images/icons/email.svg);
}
.contact_phone::before {
   background-image: url(./images/icons/phone.svg);
}
.contact_linkedin::before {
   background-image: url(./images/icons/linkedin.svg);
}
.contact_github::before {
   background-image: url(./images/icons/github.svg);
}
<<<<<<< HEAD
.summary {
   order: 3;
}
=======
>>>>>>> 068064c4023067cd1f21d9d0151dfb0ce767f024
.summary li::before {
   background-image: url(./images/icons/checked.svg);
}
.skills {
<<<<<<< HEAD
   order: 4;
=======
   display: flex;
   flex-wrap: wrap;
>>>>>>> 068064c4023067cd1f21d9d0151dfb0ce767f024
}
.skills h2 {
   width: 100%;
}
<<<<<<< HEAD
.skills p {
   text-align: center;
}
.skills__items {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.skills__items img {
=======
.skills img {
>>>>>>> 068064c4023067cd1f21d9d0151dfb0ce767f024
   display: block;
   height: 100px;
   margin-right: .5em;
}
<<<<<<< HEAD
.experience {
   order: 5;
}
.education {
   order: 6;
}
.education li::before {
   background-image: url(./images/icons/knowledge.svg);
}
.english-level {
   order: 7;
}
=======
.education li::before {
   background-image: url(./images/icons/knowledge.svg);
}
>>>>>>> 068064c4023067cd1f21d9d0151dfb0ce767f024
.footer {
   padding: 10px 0;
   background-color: var(--first-color);
   color: var(--fourth-color);
   text-align: center;
<<<<<<< HEAD
}

@media (max-width: 1024px) {
   .resume {
      padding: 0 1em;
   }
   .photo {
      width: 100%;
      margin-bottom: 1em;
      order: 1;
   }
   .contacts {
      width: 100%;
      order: 2;
   }
}
@media (max-width: 800px) {
   .skills__items {
      justify-content: space-evenly;
   }
   .skills__items img {
      margin-bottom: 1em;
   }
}
@media (max-width: 600px) {
   :root {
      text-align: justify;
   }
   h2 {
      text-align: center;
   }
   .skills__items {
      padding: 0;
   }
=======
>>>>>>> 068064c4023067cd1f21d9d0151dfb0ce767f024
}